body{
    color:black;
    background-color: #ACD115;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, footer, a{
    font-family: 'Merriweather', serif;
    color: #8700D1
}

#episodios {
    margin-top: 20mm;
}

section:hover {
        background-color: yellow;
      }

ul {
    position: fixed;
    list-style-type: none;
}

li {
    font-family: 'Merriweather', serif;
    margin-left: 10mm;
    margin-right: 10mm;
    display: inline;
    background-color: whitesmoke;
}

header { 
    background-color: whitesmoke;
    text-align: center
}

footer {
    background-color: #560085;
    color: whitesmoke
}

a:link {
    text-decoration: none;
  }

.fab {
    color:whitesmoke
}