body{
    color:black;
    background-color: #ACD115;
    font-family: 'Open Sans', sans-serif;
}

.titulo {
    background-color: #3a50d9;
    color: #e0eff2;
    font: italic bold 100px 'Merriweather', Serif;
    text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
  }

h1, h2, footer, a{
    font-family: 'Merriweather', serif;
    color: #8700D1
}

#episodios {
    margin-top: 20mm;
}

section:hover {
        background-color: yellow;
      }

ul {
    position: fixed;
    list-style-type: none;
}

li {
    font-family: 'Merriweather', serif;
    margin-left: 5mm;
    margin-right: 5mm;
    display: inline;
    background-color: whitesmoke;
}

header { 
    background-color: whitesmoke;
    text-align: center
}

footer {
    background-color: #560085;
    color: whitesmoke
}

a:link {
    text-decoration: none;
  }

.fab {
    color:whitesmoke
}

.boxshadow {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  }
