body{
    color:black;
    background-color: #ACD115;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

div {
    position: fixed bottom;
    display: block;
    background-color: whitesmoke;
    font-family: 'Merriweather', serif;
    margin: 0px
}

li{
    display: inline;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none
}

.titulo {
    background-color: #3a50d9;
    color: #e0eff2;
    font: italic bold 100px 'Merriweather', Serif;
    text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
  }

h1, h2, footer, a{
    margin: 0px;
    font-family: 'Merriweather', serif;
    color: #8700D1
}

section:hover {
        background-color: yellow;
      }

header { 
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    text-align: center
}

footer {
    background-color: #560085;
    color: whitesmoke
}

a:link {
    text-decoration: none;
  }

.fab {
    color:whitesmoke
}

.img {
    margin-left: 10px; margin-right: 10px; border-style: solid; border-color: #485221
}

.img1 {
    margin-right: 10px; border-style: solid; border-color: #485221
}

.boxshadow {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  }
